/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #931420;
    background-color: #fffded;

}

section {
	width: 525px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
aside {
	width: 215px;
	float: right;
	padding-left:20px; 
	padding-bottom:20px;
}






main img {
	padding-bottom: 1em;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding-left: 2em;
	padding-bottom: 2em;
	font-style: italic;
}
section ul {
	padding-bottom: .25em;
	padding-left: 1.25em;

}
section li {
	padding-bottom: .35em;
}




/* the styles for the header */
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 1em;
}
header h2 {
	font-size: 170%;
	color: #800000;
	padding-left:30px;

}
header h3 { 
	font-size: 105%;
	padding-bottom: .25em;
}
header {
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-bottom: 3px;
    border-color: #931420;
    background-color: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);

}


/* the styles for the section */
main {
	clear: left;
}
section, aside {
	background-color: #f6bb73; 

}
section h1 {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin: 0;

}

section h2 {
	font-size: 130%;
	color: #800000;
}
main h3{
	font-size: 105%;
}
article {
	padding-top: .5em;
	padding-bottom: .5em;
	border-bottom: 2px solid #800000;
	border-top: 2px solid #800000;

}
article img {
	float: right;
	margin-top: 5px;
	margin-bottom:5px;
	margin-left:5px;
	border: 1px solid black;
}
article h2{
	padding-top: 0;

}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}



/* the styles for the footer */
footer p {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	color: white;
}
footer {
	background-color: #931420;
}
footer.clear {
	clear: both;
}

.nav_menu {
	margin: 0;
	padding: 0
	position: relative;
}
ul {
	list-style-type: none;
}
ul li {
	float: left; 
}
ul li a {
	display: block;
	width: 150px;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold; 
}
.current {
	color: yellow;
}
.sub_menu li a {
	float: left;
	overflow: hidden;
	position: absolute;
	display: vertical;
}



















